<div class = "right"> 
<button class="btn btn-primary" id="create">Back to Characters</button>
</div>
<div class="conainer">
 
    <div class="btn-container adventure" id = "adventure">
        Adventure
    </div>
  
    <div class="btn-container shop" id = "shop">
        Shop
    </div>

    <div class="btn-container temple" id = "temple">
        Temple
    </div>

</div>


<script src="/js/homepage.js"></script>